html {
    background:#f4f4f4;
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
}

/* Toggle Switch */
.toggle-switch, .toggle-switch .toggle-knob {
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.toggle-switch {
    height: 30px;
    width: 55px;
    display: inline-block;
    background-color: #ffffff;
    margin: 2px;
    margin-bottom: 5px;
    border-radius: 30px;
    cursor: pointer;
    border: solid 1px #d2d6de;
    box-shadow: inset 1px 1px 9px -3px rgba(4, 4, 4, 0.08), 1px 2px 6px -2px rgba(0, 0, 0, 0.01);
}

.toggle-switch .toggle-knob {
    width: 28px;
    height: 26px;
    display: inline-block;
    background-color: #ffffff;
    border: solid 1px rgba(126, 126, 126, 0.07);
    box-shadow: 0 1px 3px rgba(107, 106, 106, 0.26), 0 5px 1px rgba(107, 106, 106, 0.13);
    border-radius: 26px;
    margin: 1px 1px;
}

.toggle-switch.active {
    background-color: #404040;
    border: solid 1px transparent;
}

.toggle-switch.active .toggle-knob {
    margin-left: 24px;
}

.brand-name {
	vertical-align: top;
	font-weight: 600;
	margin-top: 5px;
	border-radius: 5px;
	display: inline-block;
	padding: 15px 25px;
}

.job-title {
	background-color: #D9E7F8;
	color: #4A90E2;
	font-weight: 600;
	border-radius: 5px;
	display: inline-block;
    padding: 15px 25px;
}

.row > div,.container {
    transition:all .25s ease-in-out;
    -moz-transition:all .25s ease-in-out;
    -o-transition:all .25s ease-in-out;
    -webkit-transition:all .25s ease-in-out
}

.wrapper {
    background:#f5f5f5
}

.content-inner {
    background:#fff
}

h1,h2,h3,h4,h5,h6,p {
    margin:0 0 1em;
    padding:0
}

a {
    cursor:pointer;
    text-decoration:none!important;
    transition:all .25s ease-in-out;
    -moz-transition:all .25s ease-in-out;
    -o-transition:all .25s ease-in-out;
    -webkit-transition:all .25s ease-in-out
}

.inline-block {
    display:inline-block
}

/* Navigation */
.navbar-header{
margin: -15px;
padding:0  15px;
background: #fff;}

.navbar-collapse{
    width: 100%;
    font-size:1.3em;
    margin-top:7px;
    padding:8px 14px 7px;
}

.navbar-toggle {
    border:0;
    border-radius:0;
    margin:20px 15px
}

.navbar-toggle .icon-bar {
    background:#333;
    height:2px;
    border-radius:2px
}

.navbar-brand {
    font-weight:500;
    border:2px solid #44454b;
    margin:15px;
    padding:8px 14px 7px;
    font-size:1.3em;
    height:auto;
    color:#44454b
}

.navbar-brand:hover {
    color:#1eadef;
    border-color:#1eadef
}

/* Social */
.social {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}
.social li{
    display: inline-block
}

.social li a {
    padding-right:0
}

.navbar-nav>li>a {
    display:block;
    margin:12px 0;
    color:#999;
    transition:color .25s ease-in-out;
    -moz-transition:color .25s ease-in-out;
    -o-transition:color .25s ease-in-out;
    -webkit-transition:color .25s ease-in-out
}

.navbar-nav>li>a:hover{
    background:none;
    color:#1eadef;
}
.navbar-nav>li>a:focus{
    background:none;
 }


.about-me-skill-list {
    margin:0 0 1.5em;
    font-size:32px;
    color: #BBBABF;
    padding:0 50px 0em;
}

.about-me-skill-list p{
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.about-me-text {
    margin:0 0 0;
    font-size:32px;
    color: #BBBABF;
    padding:0 50px 1.8em;
}

.about-me-text span{
    margin:0 0 1.5em;
}

.about-me-text highlight{
    color: #4A90E2 ;
}

/* Intro */
.intro {
    padding:0 50px 0em;
    margin:0 0 1.5em;
    font-size:44px;
    color: #999;
}

.intro span {
    font-weight:100
}

/* Grid List  */
.disable-border .grid-list img {
    box-shadow: none;
}

.grid-list-wrapper {
    margin:0 0 4em
}

.grid-list {
    margin:0 0 1em
}

.grid-project-item {
    margin: 2%;
    width: 29%;
    -webkit-box-shadow: 0px 0px 15px -4px rgba(170,169,169,1);
    -moz-box-shadow: 0px 0px 15px -4px rgba(170,169,169,1);
    box-shadow: 0px 0px 15px -4px rgba(170,169,169,1);
    transition: opacity .2s ease-in-out;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 15px -1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 15px -1px rgba(0, 0, 0, .1);
    box-shadow: 0 0 15px -1px rgba(0, 0, 0, .1);
}

.grid-list img {
    height:auto;
    max-width: 100%;
    margin-top: 2%;
    transition: opacity .2s ease-in-out;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 15px -1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 15px -1px rgba(0, 0, 0, .1);
    box-shadow: 0 0 15px -1px rgba(0, 0, 0, .1);
}

.overlay {
    color: #f4f4f4;
    padding: 2%;
    text-align: center;
}

.overlay a {
    margin-bottom: -2%;
    font-size:.8em;
    color:#fff;
    display:block
}

.overlay h2 {
    font-size:1.2em;
    line-height:1.35em;
    margin:0;
    padding:.5em 0;
    
}

.overlay h3 {
    display:none;
    padding:0;
    font-size:1.2em;
    line-height:1em;
}

.overlay h4 {
    padding:0;
    font-size:1.1em;
    line-height:1em;
}

.overlay span {
    text-transform:uppercase;
    font-weight:100;
    margin-right:1em
}

.link-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.trunc {
    width: 300px;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}

/* Footer */
footer {
    clear:both;
    padding:3em 0
}

.nav-footer {
    margin:0;
    padding:0
}

.nav-footer ul {
    margin:0;
    padding:0;
    text-align:center
}

.nav-footer li {
    list-style:none;
    margin:.5em;
    display:inline-block
}

.nav-footer a {
    color:#999;
    transition:color .25s ease-in-out;
    -moz-transition:color .25s ease-in-out;
    -o-transition:color .25s ease-in-out;
    -webkit-transition:color .25s ease-in-out
}

.nav-footer a:hover {
    color:#1eadef
}

header {
    margin:15px
}

footer p {
    margin:0
}

.credits {
    color: #7c7e7f;
    font-weight:100;
    margin:7px 0
}

.navbar-brand-wrapper {
    margin:3em 0 2em;
    opacity:.2
}

footer .navbar-brand {
    float:none;
    text-align:center;
    width:100%
}

footer {
    background:#fff
}

.wrapper footer .container {
    box-shadow:none
}

.grid-list-wrapper li {
    list-style:none;
}
 

@media only screen and (min-width: 320px) {
    .grid-project-item {
        width: 90%;
    }

    /* Overlay Card */
    .card-title {
        color: #2f2f2f;
    }

    .card-message {
        color: #7e7e7e;
    }

    .card-desc {
        color: #7e7e7e;
    }
}

@media only screen and (min-width: 480px) {
    
}

/* Tablet Devices */
@media only screen and (min-width: 768px) {

    .grid-project-item {
        width: 90%;
    }

    header {
        background:#fff;
        margin:2em 15px;
        padding:20px 30px
    }
        
    .navbar-header{
        margin: 0;
        padding:0;
        background: #fff;
    }

    .intro {
        font-size:44px;
        margin:0 0 .9em;
        color: #04143A;
    }

    .navbar-nav.social {
        float:left
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

    .grid-project-item {
        width: 29%;
    }

    .wrapper-inner {
        padding:10px 50px
    }

    .portfolio-item.wrapper-inner {
        padding:1em 10em
    }

    header {
        background:#fff;
        margin:0;
        padding:0
    }

    .no-gutter-space {
        margin:0
    }

    .no-gutter-space > div {
        margin:0;
        padding:0
    }

    /* Item Overlay */
    .overlay h3 {
        display:block;
        line-height:1.5em
    }

    .overlay h3 span {
        display:block;
        opacity:.34
    }

    .overlay h3 span:hover {
        opacity:.54
    }

    .overlay {
        position:absolute;
        top:0;
        left:0;
        height:100%;
        width:100%;
        transition:opacity .25s ease-in-out;
        -o-transition:opacity .25s ease-in-out;
        -moz-transition:opacity .25s ease-in-out;
        -webkit-transition:opacity .25s ease-in-out;
        opacity:0;
        font-size:120%;
        background:#f5f5f5;
        background:rgba(47, 56, 61, .6)
    }

    /* Overlay Card */
    .card-title {
        color: white;
    }

    .card-message {
        color: white;
    }

    .card-desc {
        color: white;
    }

    .grid-list:hover .overlay {
        opacity:1;
        transition: opacity .2s ease-in-out;
        border-radius: 5px;
        -webkit-box-shadow: 0 0 15px -1px rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 0 15px -1px rgba(0, 0, 0, .1);
        box-shadow: 0 0 15px -1px rgba(0, 0, 0, .1);
    }


    .grid-list {
        margin:10;
        padding:0
    }

    .navbar {
        padding:3em 50px 1em
    }

    .wrapper .container {
        background:#fff
    }

    .wrapper {
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
        clear:both
    }

    .wrapper .container {
        box-shadow:0 0 20px rgba(0,0,0,.05);
        padding-bottom: 1%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    .wrapper {
        clear:both
    }
}